[Desktop Entry]
Name=Moku
Comment=Manga reader powered by Suwayomi
Exec=moku
Icon=io.github.Youwes09.Moku
Terminal=false
Type=Application
Categories=Graphics;Viewer;
Keywords=manga;comics;reader;
StartupWMClass=moku
